*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

nav{
    background-color: transparent;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    z-index: 1;
    top: 0;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 10px;
    color: brown;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover{
    text-shadow: 2px 4px 6px black;
    text-decoration: underline;
}
video{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 60%;
}
h1{
    color: antiquewhite;
}
h1:hover{
    color: rgb(202, 127, 35);
    text-shadow: 2px 4px 6px rgb(231, 185, 68);
}

span{
    color: brown;
    font-size: 35px;
}
#home{
    height: 800px;
    display: flex;
    flex-direction: column;
}

#home::before{
    content: "";
    background-image: url(https://imgk.timesnownews.com/media/Nivin_pauly_in_Bangalore_days.jpg);
    height: 100%;
    background-size: cover;
}
.main{
    border: 5px inset blueviolet;
    padding: 10px;
    display: flex;
    position: absolute;
    height: 60px;
    left: 15%;
    margin-top: 15%;
    box-shadow: 2px 4px 6px black;
}
.main:hover{
    scale: 1.05;
}
h3{
    color: brown;
    background-color: burlywood;
    font-style: italic;
    text-align: center;
}

.pic{
    display: flex;
}
.pic img{
    width: 500px;
}
.pic h4{
    color: blueviolet;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.pic p{
    text-align: justify;
    margin: 10px;
}
.gallery{
    box-shadow: 2px 4px 6px blueviolet;
    margin: 20px;
}

.gallery img{
    width: 400px;
    margin: 5px;
    margin-left: 50px;
    padding: 5px;
}

.gallery img:hover{
    scale: 1.05;
}

.row{
    display: flex;
    margin-top: 5px;
}

.box{
    width: 360px;
    height: 500px;
    border: 3px ridge blueviolet;
    margin: 5px;
    align-items: center;
    background: linear-gradient(to top, grey 50%,white 50%);
    background-size: 100% 200%;
    transition: 1.0s;
}
.box:hover{
    background-position: right bottom;
    filter: drop-shadow(3px 4px 20px violet);
}

.box img{
    width: 340px;
    padding: 10px;
}
.box p{
    text-align: justify;
    padding: 5px;
}
.box h5{
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 2px 3px 4px black;
}
form{
    width: 500px;
    margin-left: 500px;
}

.input{
    width: 100%;
    margin: 10px;
}

button{
    color: azure;
    background-color: black;
    cursor: pointer;
    padding: 5px;
    height: 10px;
}

.cv{
    background-color: cadetblue;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-left: 50%;
    border-radius: 20px;
}

footer{
    background-color: rgba(205, 132, 7, 0.606);
    display: flex;
    justify-content: space-around;
    height: 150px;
    padding-top: 10px;
}

footer h4{
    color: aliceblue;
}

/* custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: blueviolet; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }